# Les listes

Display the type of on element of the following list

In [ ]:
a = [1, 2, 3, 4, 5, 6, 5, 2, 1, 2, 2]

From the following list, display content in a for loop by using direct value and index

In [ ]:
b = ["a", 'b', 'c', 'c', 1]

Add list a and b and store result in c

In [ ]:
a = [0, 1, 2]
b = [1, 4, 35]
c = []

## Quelques methodes sur des listes

Compute sum, length of the list and average and number of times number 2 appears

In [ ]:
a = [0, 0, 2, 44, 2, 1, 0, 2, 200]

### Trouver les élements uniques d'une liste : les sets

### Test de "membership"

1 in a_uniques

### Nombre d'éléments uniques dans une liste

### Creation d'une liste constituée d'éléments uniques à partir de la liste a

In [ ]:
a_uniques_list = list(set(a))
a_uniques_list

In [ ]:
a = ["plouf", "plouf", 'a', 'bbb', 'z']

Ajouter un élément à cette liste

### Operations on sets

In [ ]:
a = [0, 4, 8, 8, 5, 10]
b = [0, 41, 8, 101]

### Trouver les éléments uniques présents  simultanément  dans les deux listes

### Trouver les éléments uniques présents dans les deux listes

### Warning : à ne pas faire (lent) 
construire une liste de l'ensemble des élements avant d'en prendre le set

In [ ]:
a = [0, 4, 8, 8, 5, 10]
b = [0, 41, 8, 101]

# Les tuples

Créer une liste de tuples à partir de genre et espece

In [8]:
a = (1, 2)

In [9]:
genre = ['Acer', 'Fraxinus', 'Platanus', 'Acer']
espece = ['acerifolia', 'excelsior', 'occidentalis', 'acerifolia']